    body   { 
	background-color: PaleGoldenrod ; 
	color: black;
	font-family:arial;
	margin-right:0.5cm;
	margin-left:0.5cm;
    }
    

    p {
    	color: black;
    }

    h3 { 
       text-align: center;
       color: black;
       font-family: Verdana;
    }
    
    h2 { 
       color: black;
       font-family: Verdana;
    }
    h4 { 
       color: black;
       font-family: Verdana;
    }
    
    @keyframes animation {
        from {background-color: red;}
        to {background-color: yellow;}
    }
    
    h1 {
        background-color: red;
        text-align: center;
       font-family: Verdana;
       animation-name:animation;
       animation-duration:5s;
       animation-iteration-count:infinite;
       
    }
    
    .table {
        width: 100;}
        td, th {
            padding: 10px;
            text-align: left;
        }
    

        th{
            color: white;
            background: black;
            
        }
    @media (max-widht:500px){
        .table{
            display: flex;
            overflow: hidden;
        }
            
           tbody{
               display: flex;
               overflow-x: auto;
               overflow-y:hidden;
               -webkit-overflow-scrolling: touch;
               
           }
          tr{
              display:flex;
              flex-direction: column;
              flex-shrink: 0;
          }  
        }
    



    

