body   { 
	background-color: PaleGoldenrod ; 
	color: black;
	font-family:arial;
	margin-right:0.5cm;
	margin-left:0.5cm;
    }


    

    p {
    	color: black;
    }

    h3 { 
       text-align: center;
       color: black;
       font-family: Verdana;
    }
    
    h2 { 
       color: black;
       font-family: Verdana;
    }
    h4 { 
       color: black;
       font-family: Verdana;
    }
    
    
    
    h1 {
        
        text-align: center;
       font-family: Verdana;
     
       
    }
